@* Обязательно для вызова метода Dispose, иначе метод вызываться не будет *@
@implements IDisposable


<div class="card mb-2">
    <div class="card-header py-3">
        <h6 class="text font-weight-bold m-0">@Title</h6>
    </div>
    <div class="card-body">
        @if (Table != null)
        {
            @foreach (Row item in @Table.Rows)
            {
                <h5 class="small font-weight-bold">@item.Name<span class="float-right">@item.Percent%</span></h5>
                <div class="progress mb-2" style="height: 15px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width:@Math.Round(item.Percent, 0)%;" aria-valuenow="@Math.Round(item.Percent, 0)" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">@item.Percent%</span></div>
                </div>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public BlazorAdminPanel.Models.Table Table { get; set; }


    public async void UpdateDB(object sender)
    {
        await InvokeAsync(() => StateHasChanged());
    }


    /*private string color;
    private Random r = new Random();

    // Асинхронная инициализация при загрузке данной страницы
    protected override void OnInitialized()
    {
        string[] colors = { "bg-success", "bg-danger", "bg-info", "bg-warning", "bg-primary" };

        color = colors[r.Next(0, colors.Length)];

        Table.UpdateEvent += UpdateDB;
    }*/


    // Очистка перед удалением компонента
    public void Dispose()
    {
        Table.UpdateEvent -= UpdateDB;
    }
}
